@import url('https://fonts.googleapis.com/css2?family=Jaini&family=Jim+Nightshade&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    cursor: url('assets/cursor.svg') 0 0, pointer !important;
}

body {
    background-color: #111111 !important;
    background-image: url('assets/background.svg');
    background-repeat: repeat-y;
    background-position: top center;
    background-size: 100% auto;
}

.font {
    font-family: "Jim Nightshade", cursive;
}

/* ======================= */
/* CUSTOM CURSOR VARIABLE */
/* ======================= */


a,
button,
input[type="button"],
input[type="submit"],
[role="button"] {
    cursor: url('assets/cursor.svg') 0 0, pointer !important;
}

.header-container {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: "Jaini", system-ui;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #CF8394 17.31%, #E5C1C0 51.92%, #CF8394 83.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
}


.lamp-wrapper {
    position: absolute;
    width: 314.335px;
    height: 248.632px;
    aspect-ratio: 177 / 140;
}

.lamp {
    width: 100%;
    height: 100%;
    display: block;
}

#left-lamp {
    top: 0;
    left: 0;
}

#right-lamp {
    top: 0;
    right: 0;
    transform: scaleX(-1);
}


.glow {
    position: absolute;
    z-index: -1;

    top: 70%;
    left: 65%;


    width: 80px;
    height: 100px;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    background: radial-gradient(circle at center,
            #CF8394 17.31%,
            #E5C1C0 51.92%,
            #CF8394 83.17%,
            rgba(207, 131, 148, 0) 100%);

    filter: blur(12px);
    mix-blend-mode: screen;
    pointer-events: none;
    animation: flickerGlow 9s ease-in-out infinite;
}

@keyframes flickerGlow {

    0%,
    100% {
        opacity: 0.9;
        transform: translate(-50%, -50%) scale(1);
    }

    18% {
        opacity: 0.82;
        transform: translate(-50%, -50%) scale(0.97);
    }

    22% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.03);
    }

    45% {
        opacity: 0.88;
        transform: translate(-50%, -50%) scale(0.99);
    }

    48% {
        opacity: 0.96;
        transform: translate(-50%, -50%) scale(1.01);
    }

    72% {
        opacity: 0.84;
        transform: translate(-50%, -50%) scale(0.98);
    }

    75% {
        opacity: 0.98;
        transform: translate(-50%, -50%) scale(1.02);
    }
}

#hero-section{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel-title {
    text-align: center;
    font-family: "Jim Nightshade", cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 360px;
    background: linear-gradient(180deg, #CF8394 17.31%, #E5C1C0 51.92%, #CF8394 83.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.meet-fate-btn {
    padding: 0 15px;
    border-radius: 25.5px;
    background: linear-gradient(270deg, #D08596 0%, #F2CBD1 50%, #D08596 100%);
    color: url('assets/nebulaFill.png');
}

.meet-fate-btn:hover {

    background-image: url('assets/nebulaFill.png');
    background-size: cover;
    background-repeat: repeat;

}


.meet-fate-btn h3 {
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    /* this has been the worst expirience of my life O_O */

    background-image: url('assets/nebulaFill.png');
    background-size: cover;
    background-repeat: repeat;


    -webkit-background-clip: text;
    background-clip: text;


    -webkit-text-fill-color: transparent;
    /* color: transparent; */
}


.meet-fate-btn:hover h3 {
    background: linear-gradient(90deg, #D08596 0%, #F2CBD1 50%, #D08596 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* --- 3D FLIP MECHANIC STUFF --- */
.tarot-card-container {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    animation: cardEntry 0.5s ease-out;
}

.tarot-card-flipper {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);
    transform-style: preserve-3d;
}

.tarot-card-flipper.is-flipped {
    transform: rotateY(180deg);

    /* i dont even know if we're using like an ipad tablet type thing but anywayyy */
}

@keyframes cardEntry {
    from {
        opacity: 0;
        transform: translateY(15px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.card-front {
    transform: rotateY(180deg);

}

.card-face {
    width: 100%;
    height: 100%;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-face::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =========================
TAROT WHEEL >:D 
============================ */

.tarot-card-loader {
    width: 100%;
    height: 100%;
}

.tarot-wheel-container {
    position: relative;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.wheel-center-content {
    position: absolute;
    text-align: center;
    z-index: 10;
    max-width: 220px;
}

/* .wheel-card-wrapper {
    width: 162.235px;
    height: 253.331px;
    position: relative;
} */

.wheel-card {
    position: absolute;
    width: 186.265px;
    height: 312.431px;


    /* Calculate angle: (360deg / total cards) * current index */
    /* Rotate to angle, then translate up to form radius */
    transform:
        rotate(calc((360deg / var(--total)) * var(--i))) translateY(-360px);
    /* Adjust circle radius */

    transform-origin: center center;
    transition: transform 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
    /* filter: drop-shadow(0 0 14.2px rgba(0, 0, 0, 0.50)); */
}

.wheel-card:hover {
    z-index: 20;
    transform:
        rotate(calc((360deg / var(--total)) * var(--i))) translateY(-390px)
        /* scale(1.08) */
    ;
}

/* ==========================
    INFO CSS 
    =========================*/

#about-section{
    position: relative;
    margin: 20em 5em 0 5em;
}

.about-row{
    display: flex;
    justify-content: space-between;
}
.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.about-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

.about-text h2 {
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #CF8394 17.31%, #E5C1C0 51.92%, #CF8394 83.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-text p {
    text-align: center;
    font-family: "Jim Nightshade", cursive;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #CF8394 17.31%, #E5C1C0 51.92%, #CF8394 83.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-img{
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
/* ==========================
    LOGIN CSS 
    =========================*/

.moon-logo {
    width: 179px;
    height: auto;
    position: absolute;
    transform: translateY(-270px);
}

.border-wrapper {
    height: 100vh;
    background-image: url(assets/dashedBorder.svg);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.login-title {
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #CF8394 17.31%, #E5C1C0 51.92%, #CF8394 83.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title p{
    background: url(assets/nebulaFill.png);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 450px;
}

.login-field-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.login-field{
    display: flex;
    flex-direction: column;

}
.login-label {
    font-family: "Jim Nightshade", cursive;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-control, .password-container{
    border-radius: 50px;
    border: 2px solid transparent;
    /* i hate myself so much for working almost entirely with gradients T-T
    - inner element background color (clipped to padding-box)
    - gradient border colours (extends to border-box 
    */
    background: linear-gradient(#111111, #111111) padding-box,
        linear-gradient(270deg, #D08596 0%, #F2CBD1 50%, #D08596 100%) border-box;
    /* figers crossed this works, i could just google the answer genuinly but whatever I'm subborn */
    color: #CF8394 !important;
    padding: 15px;

}

input::placeholder {
    color: #CF8394 !important;
}

.login-control:focus {
    outline: none;
}

.password-container{
    display: flex;
    padding: 4px 10px;
    justify-content: space-between;
}
button{
    background: none;
    background-color: transparent !important;
    border: none;
}

.eye-icon, .eye-slash-icon{
    width: 57px;
height: 46.064px;
aspect-ratio: 57.00/46.06;
}

.submit-btn {
    border-radius: 50px;
    background: linear-gradient(270deg, #D08596 0%, #F2CBD1 50%, #D08596 100%);
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 214px;
    height: 53px;
    padding-bottom: 55px;
}

.submit-btn p {
    background-image: url(assets/nebulaFill.png);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
}

.submit-btn:hover {
    background-image: url(assets/nebulaFill.png);
    background-size: cover;
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
}

.submit-btn p:hover{
    background: linear-gradient(90deg, #D08596 0%, #F2CBD1 50%, #D08596 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* MOBILE LOGIN */
@media (max-width: 768px) {
    .login-form {
        width: 350px;
    }
    .lamp-wrapper {
        position: absolute;
        width: 200px;
        height: 158px;
    }
    
    .login-field-container{
        margin-top: -6rem;
    }
    .login-container{
        margin-top: 13rem;
    }

    .login-title {
        font-size: 3rem;
        margin-bottom: 1em;
        margin-top: -3rem;
    }

    .login-label {
        font-size: 1.5rem;
    }



}
/* ==========================
DASBOARD CSS
    =========================*/

.viewport {
    width: 100vw;
    height: 100vh;
    position: relative;    
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#stage {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    /* Heavy, slow drop-and-settle easing */
    transition: transform 1.4s cubic-bezier(0.7, 0, 0.2, 1);
    will-change: transform;
}

.screen {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}

/* State Trigger */
#stage.descended {
    transform: translateY(-100vh);
}

.chamber{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chamber-header{
    position: relative;
    display: flex;
    justify-content: space-between;
        width: 100%;
        height: auto;

}
.corner-wrapper {
    height: 300px;
    aspect-ratio: 177 / 140;
}

.corner {
    width: 100%;
    height: 100%;
    display: block;
}

#corner-left{
    top: 0;
    left: 0;
}

#corner-right{
    top: 0;
    right: 0;
    transform: scaleX(-1);
}

.chamber-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -17em;
}

.moon-container{
    width: 400px;
    height: auto;
    aspect-ratio: 225/106;
    justify-content: center;

}

.moon-window{
    width: 100%;
    height: 100%;
    display: block;
}

.dashboard-buttons {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dashboard-btn {
    border-radius: 50px;
    border: 5px solid transparent;
    /* i hate myself so much for working almost entirely with gradients T-T
        - inner element background color (clipped to padding-box)
        - gradient border colours (extends to border-box 
        */
    background: linear-gradient(#ffffff00, #ffffff00) padding-box,
        linear-gradient(270deg, #D08596 0%, #F2CBD1 50%, #D08596 100%) border-box;
    /* figers crossed this works, i could just google the answer genuinly but whatever I'm subborn */

    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 0 20px;

}

.dashboard-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.user-title{
    text-align: center;
font-family: "Jaini", system-ui;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
background: linear-gradient(180deg, #CF8394 17.31%, #E5C1C0 51.92%, #CF8394 83.17%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.dashboard-center{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 56px;
}

.dashboard-controls{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 56px;
}
.window-container{
    width: 334.97px;
    height: 582.604px;
    aspect-ratio: 23/40;
}

.window img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* DO NOT TOUCH ANY BOF THIS, IT IS PERFECT RIGHT NOW SO NO TOUCHY TOUCHY */
@media (max-width: 768px) {
    .corner-wrapper {
        height: 200px;
        aspect-ratio: 177 / 140;
    }
    .chamber-content{
        gap: 40px;
    }
    .moon-container{
        margin-top: 10rem;
        width: 300px;
        height: auto;
        aspect-ratio: 225/106;
    }
    .dashboard-container{
        flex-direction: column;
        gap: 40px;
    }
    .dashboard-controls{
        gap: 40px;
    }
    .user-title{
        font-size: 48px;
    }
    .window-container{
        display: none;
    }
}
/* ==========================
READING CHAMBER CSS
    =========================*/
/* two cards */
.drawn-cards-display {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.drawn-card {
    width: 140px;
    border-radius: 10px;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}


.card-left {
    transform: rotate(-12deg);
}

.card-right {
    transform: rotate(12deg);
}


.card-left.reversed {
    transform: rotate(168deg);
}

.card-right.reversed {
    transform: rotate(192deg);
}

.reading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.reading-container h2{
    text-align: center;
font-family: 'Jaini', system-ui;
font-size: 4rem;
font-style: normal;
font-weight: 400;
line-height: normal;

    background: linear-gradient(180deg, #CF8394 17.31%, #E5C1C0 51.92%, #CF8394 83.17%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#reading-subtitle{
    text-align: center;
font-family: "Jim Nightshade";
font-size: 2.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;

background: linear-gradient(180deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#footer-container {
    width: 100vw;
    left: 0;
    bottom: 0;
    background: linear-gradient(270deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);
    display: flex;
    justify-content: end;
    align-items: center;

    font-family: "Jaini", system-ui;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}