@import url('https://fonts.googleapis.com/css2?family=Jaini&family=Jim+Nightshade&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    cursor: url('../assets/cursor.svg') 0 0, pointer !important;
}

body {
    background-color: #111111 !important;
    background-image: url('../assets/background.svg');
    background-repeat: repeat-y;
    background-position: top center;
    background-size: 100% auto;
}

.font {
    font-family: "Jim Nightshade", cursive;
}

h2 {
    text-align: center;
    font-family: 'Jaini', system-ui;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #CF8394 17.31%, #F4CFD5 51.92%, #CF8394 83.17%);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

/* ======================= */
/* CUSTOM CURSOR VARIABLE */
/* ======================= */


a,
button,
input[type="button"],
input[type="submit"],
[role="button"] {
    cursor: url('../assets/cursor.svg') 0 0, pointer !important;
}

.header-container {
    position: relative;
    width: 100vw;
    display: grid;
    grid-template-areas: "stack";
    z-index: -1;

}



.lamp-wrapper {
    position: relative;
    width: 314.335px;
    height: 248.632px;
    aspect-ratio: 177 / 140;

    grid-area: stack;
}

.lamp {
    width: 100%;
    height: 100%;
    display: block;
    
}

#left-lamp {
    justify-self: start;
    align-self: start;
}

#right-lamp {
 justify-self: end;
 align-self: start;
    transform: scaleX(-1);
}

/* .glow {
    position: absolute;
    z-index: -1;

    top: 70%;
    left: 65%;


    width: 80px;
    height: 100px;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    background: radial-gradient(circle at center,
            #CF8394 17.31%,
            #F4CFD5 51.92%,
            #CF8394 83.17%,
            rgba(207, 131, 148, 0) 100%);

    filter: blur(12px);
    mix-blend-mode: screen;
    pointer-events: none;
    animation: flickerGlow 9s ease-in-out infinite;
} */

/* @keyframes flickerGlow {

    0%,
    100% {
        opacity: 0.9;
        transform: translate(-50%, -50%) scale(1);
    }

    18% {
        opacity: 0.82;
        transform: translate(-50%, -50%) scale(0.97);
    }

    22% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.03);
    }

    45% {
        opacity: 0.88;
        transform: translate(-50%, -50%) scale(0.99);
    }

    48% {
        opacity: 0.96;
        transform: translate(-50%, -50%) scale(1.01);
    }

    72% {
        opacity: 0.84;
        transform: translate(-50%, -50%) scale(0.98);
    }

    75% {
        opacity: 0.98;
        transform: translate(-50%, -50%) scale(1.02);
    }
}
 */

 .glow {
    position: absolute;
    z-index: -1;


    top: 86%;
    left: 65%;

    width: 300px;
    height: 150px;
    transform: translate(-50%, -50%);
    
    /* ⚠️ PARENT HANDLES THE BLUR: stops CSS from scissor-chopping our fuzzy edges */
    filter: blur(10px); 
    mix-blend-mode: screen;
    pointer-events: none;
    animation: trueFlicker 4.3s infinite; /* flickery street lamp aesthetic go brrr */
}

.glow::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%; 

    /* X is horizontal (0% = left edge, 100% = right edge)
Y is vertical (0% = top edge, 100% = bottom edge) */
    clip-path: polygon(36% 0, 63% 0, 70% 100%, 30% 100%);
    

    background: linear-gradient(
        to bottom, 
        rgba(207, 131, 148, 0.85) 0%, 
        rgba(207, 131, 148, 0.186) 45%,
        rgba(207, 131, 148, 0) 100%
    );

    /*feathering left/right cause you can't be trusted around razor sharp things -_- */
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 25%, black 75%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 25%, black 75%, transparent 100%);
}

 @keyframes trueFlicker {

    0%, 9%, 13%, 49%, 54%, 95%, 100% {
        opacity: 0.9;
        
        transform: translate(-50%, -50%); 
    }

    10% { opacity: 0.3; transform: translate(-50%, -50%); }
    11% { opacity: 0.8; transform: translate(-50%, -50%); }
    12% { opacity: 0.2; transform: translate(-50%, -50%); }

    50% { opacity: 0.5; transform: translate(-50%, -50%); }
    51% { opacity: 0.9; transform: translate(-50%, -50%); }
    52% { opacity: 0.4; transform: translate(-50%, -50%); }
    53% { opacity: 0.8; transform: translate(-50%, -50%); }


    96% { opacity: 0.6; transform: translate(-50%, -50%); }
    97% { opacity: 0.9; transform: translate(-50%, -50%); }
}

.title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: "Jaini", system-ui;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #CF8394 17.31%, #F4CFD5 51.92%, #CF8394 83.17%);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    margin: 20px 0;
}

/* ============================= */
/* HOME PAGE/LANDING PAGE */
/* ============================= */
#hero-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarot-wheel-container .wheel-title {
    text-align: center;
    font-family: "Jim Nightshade", cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 360px;
    background: linear-gradient(180deg, #CF8394 17.31%, #F4CFD5 51.92%, #CF8394 83.17%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;


}

.meet-fate-btn {
    padding: 0 15px;
    border-radius: 25.5px;
    background: linear-gradient(270deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);
    color: url('../assets/nebulaFill.png');
}

.meet-fate-btn:hover {

    background-image: url('../assets/nebulaFill.png');
    background-size: cover;
    background-repeat: repeat;

}


.meet-fate-btn h3 {
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    /* this has been the worst expirience of my life O_O */

    background-image: url('../assets/nebulaFill.png');
    background-size: cover;
    background-repeat: repeat;


    -webkit-background-clip: text;
    background-clip: text;


    -webkit-text-fill-color: transparent;
    /* color: transparent; */
}


.meet-fate-btn:hover h3 {
    background: linear-gradient(90deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* --- 3D FLIP MECHANIC STUFF --- */
.tarot-card-container {
    /* width: 100%;
    height: 100%; */
    /* dev note: we need to fixe the base size in order to ba able to apply the dynamic scaling later >:D */
    width: 139.87px;
    height: 234.61px;
    aspect-ratio: 31/52;

    /* - scales the card iside so it fits perfectly WITH NO CROPPING */
    /* using independant 'scale' property means it wont overwite my ✨beeautiful 'transform' animations✨ */
    scale: min(
            /*cqw/h = conatiner width/height*/
            calc(100cqw / 139.87),
            calc(100cqh / 234.61));

    /* and now the tarot loader is a measureable box */
    perspective: 1000px;
    animation: cardEntry 0.5s ease-out;
}

.tarot-card-flipper {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);
    transform-style: preserve-3d;
}

.tarot-card-flipper.is-flipped {
    transform: rotateY(180deg);

    /* i dont even know if we're using like an ipad tablet type thing but anywayyy */
}

@keyframes cardEntry {
    from {
        opacity: 0;
        transform: translateY(15px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.card-front {
    transform: rotateY(180deg);

}

.card-face {
    width: 100%;
    height: 100%;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-face::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =========================
TAROT WHEEL >:D 
============================ */

.tarot-card-loader {
    width: 100%;
    height: 100%;
    container-type: size;
    /*MAGIC KEY TO SCALING THE CARDS HOWEVER MUCH I WANNA >:D*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarot-wheel-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    /* background-image: url(../assets/dashedBorder.svg); */

}

.wheel-center-content {
    position: absolute;
    text-align: center;
    z-index: 10;
    max-width: 220px;
}

/* .wheel-card-wrapper {
    width: 162.235px;
    height: 253.331px;
    position: relative;
} */

.wheel-card {
    position: absolute;
    width: 186.265px;
    height: 312.431px;


    /* Calculate angle: (360deg / total cards) * current index */
    /* Rotate to angle, then translate up to form radius */
    transform:
        rotate(calc((360deg / var(--total)) * var(--i))) translateY(-230px);
    /* Adjust circle radius */

    transform-origin: center center;
    transition: transform 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
    /* filter: drop-shadow(0 0 14.2px rgba(0, 0, 0, 0.50)); */
}

.wheel-card:hover {
    z-index: 20;
    transform:
        rotate(calc((360deg / var(--total)) * var(--i))) translateY(-250px)
        /* scale(1.08) */
    ;
}

/* ==========================
    INFO CSS 
    =========================*/

#about-section {
    position: relative;
    margin: 20em 5em 0 5em;
}

.about-row {
    display: flex;
    justify-content: space-between;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

.about-text h2 {
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #CF8394 17.31%, #F4CFD5 51.92%, #CF8394 83.17%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-text p {
    text-align: center;
    font-family: "Jim Nightshade", cursive;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #CF8394 17.31%, #F4CFD5 51.92%, #CF8394 83.17%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-img {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* ==========================
    LOGIN CSS 
    =========================*/

.moon-logo {
    width: 179px;
    height: auto;
    
    margin-bottom: 20px;
}

.border-wrapper {
    height: 100vh;
    background-image: url(../assets/dashedBorder.svg);
    /* background-attachment: fixed; */
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.login-title {
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #CF8394 17.31%, #F4CFD5 51.92%, #CF8394 83.17%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title p {
    background: url(../assets/nebulaFill.png);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.auth-tabs {
    display: flex;
    justify-content: center;
    gap: 3rem; 
    margin-bottom: 1.5rem;
}
.tab-btn{
    background: none;
    border: none;
    font-size: 1.4rem; 
    color: #CF8394; 
    position: relative;
    padding-bottom: 12px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}


.tab-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0; 
    height: 2px;
    background: linear-gradient(270deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);
    transition: width 0.3s ease; 
    border-radius: 50px;
}

.tab-btn:hover {
    color: #F4CFD5;
}

.tab-btn:hover::after {
    width: 40%;
}

.tab-btn.active {
    color: #F4CFD5;
    text-shadow: 0 0 8px rgba(244, 207, 213, 0.3); 
}

.tab-btn.active::after {
    width: 100%; /* Full width when active */
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 450px;
}

.login-field-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.login-field {
    display: flex;
    flex-direction: column;

}

.login-field.hidden{
    display: none !important;
}

.login-label {
    font-family: "Jim Nightshade", cursive;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-control,
.password-container {
    border-radius: 50px;
    border: 2px solid transparent;
    /* i hate myself so much for working almost entirely with gradients T-T
    - inner element background color (clipped to padding-box)
    - gradient border colours (extends to border-box 
    */
    background: linear-gradient(#111111, #111111) padding-box,
        linear-gradient(270deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%) border-box;
    /* figers crossed this works, i could just google the answer genuinly but whatever I'm subborn */
    color: #CF8394 !important;
    padding: 15px;

}

input::placeholder {
    color: #CF8394 !important;
}

.login-control:focus {
    outline: none;
}

.password-container {
    display: flex;
    padding: 4px 10px;
    justify-content: space-between;
}

button {
    background: none;
    background-color: transparent !important;
    border: none;
}

.eye-icon,
.eye-slash-icon {
    width: 57px;
    height: 46.064px;
    aspect-ratio: 57.00/46.06;
}

.submit-btn {
    border-radius: 50px;
    background: linear-gradient(270deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 214px;
    height: 53px;
    padding-bottom: 55px;
    margin: 0 auto;
}

.submit-btn p {
    background-image: url(../assets/nebulaFill.png);
    background-size: cover;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
}

.submit-btn:hover {
    background-image: url(../assets/nebulaFill.png);
    background-size: cover;
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
}

.submit-btn p:hover {
    background: linear-gradient(90deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* =========================================
   MOBILE RESPONSIVENESS 
   ========================================= */

@media (max-width: 768px) {
    .login-form {
        width: 350px;
    }

    .lamp-wrapper {
        width: auto;
        height: 158px;
    }

    .border-wrapper{
        background: none;
    }

    .login-field-container {
        margin-top: -6rem;
    }

    .login-title {
        font-size: 3rem;
        margin-bottom: 1em;
        margin-top: -3rem;
    }

    .login-label {
        font-size: 1.5rem;
    }

    .submit-btn {

        margin: 0 auto;
    }

}

@media (max-width: 414px) {
    .login-form {
        width: 350px;
    }


    .glow {
        width: 60px;
        height: 75px;

    }


.login-container{
    padding: 0 !important;
}
    .login-form {
        width: 100%; 
        padding: 0 25px; 
        box-sizing: border-box; /*  padding doesn't add to  width */
    }

    .login-title {

        font-size: 3rem;
    }

    .login-label {

        font-size: 1.8rem;
    }

    .submit-btn {

        margin: 0 auto;
    }
    
    .submit-btn p {
        font-size: 1.8rem; 
    }
}

/* ==========================
DASBOARD CSS
    =========================*/

.viewport {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* ======================= */
/* 2D REALM MAP (CSS GRID) */
/* ======================= */
#stage {
    width: 200vw;
    height: 200vh;
    display: grid;
    /* left-right | top-bottom */
    grid-template-columns: 100vw 100vw;
    grid-template-rows: 100vh 100vh;
    /* Heavyyyyy, slow drop-and-settle easing */
    transition: transform 1.4s cubic-bezier(0.7, 0, 0.2, 1);
    will-change: transform;
}

.screen {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}

.top-chamber {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}

#stage.sanctum {
    transform: translateX(-100vw);
}

/* State Trigger */
#stage.descended {
    transform: translateY(-100vh);
}

.chamber {
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    flex-shrink: 0;
    /*TO KEEP THE CHAMBERS SEPERATE AND KEEP THE REALMS FROM OVERLAPPING AND SNEAKING INTO EACHOTHER'S DOMAIN*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chamber-header {
    position: absolute;
    /*sorry for using absolute but i gotta for this to work and pin the corners to the absolute top*/
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    pointer-events: none;
    z-index: -1;

}

.corner-wrapper {
    height: 300px;
    aspect-ratio: 177 / 140;
}

.corner {
    width: 100%;
    height: 100%;
    display: block;
}

#corner-left {
    top: 0;
    left: 0;
}

#corner-right {
    top: 0;
    right: 0;
    transform: scaleX(-1);
}

.chamber-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: -17em; */
    width: 100%;
}

.moon-container {
    width: 400px;
    height: auto;
    aspect-ratio: 225/106;
    justify-content: center;

}

.moon-window {
    width: 100%;
    height: 100%;
    display: block;
}

.dashboard-buttons {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    z-index: 100;
}

.dashboard-btn {
    border-radius: 50px;
    border: 4px solid transparent;
    /* i hate myself so much for working almost entirely with gradients T-T
    - inner element background color (clipped to padding-box)
    - gradient border colours (extends to border-box 
    */
    background: linear-gradient(#111111, #111111) padding-box,
        linear-gradient(270deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%) border-box;
    /* figers crossed this works, i could just google the answer genuinly but whatever I'm subborn */
    color: #CF8394 !important;
    padding: 10px 60px;
    padding-top: 4px;
}

.dashboard-btn span {
    text-align: center;

    font-family: "Jaini", system-ui;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aasb-btn {
    border-radius: 50px;
    border: 5px solid transparent;
    /* i hate myself so much for working almost entirely with gradients T-T
        - inner element background color (clipped to padding-box)
        - gradient border colours (extends to border-box 
        */
    background: linear-gradient(#ffffff00, #ffffff00) padding-box,
        linear-gradient(270deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%) border-box;
    /* figers crossed this works, i could just google the answer genuinly but whatever I'm subborn */

    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 0 20px;

}

.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.user-title {
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #CF8394 17.31%, #F4CFD5 51.92%, #CF8394 83.17%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dashboard-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 56px;
}

.dashboard-controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 56px;
}

.window-container {
    width: 334.97px;
    height: 582.604px;
    aspect-ratio: 23/40;
}

.window img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* DO NOT TOUCH ANY BOF THIS, IT IS PERFECT RIGHT NOW SO NO TOUCHY TOUCHY */
@media (max-width: 768px) {
    .corner-wrapper {
        height: 200px;
        aspect-ratio: 177 / 140;
    }

    .chamber-content {
        gap: 40px;
    }

    .moon-container {
        width: 300px;
        height: auto;
        aspect-ratio: 225/106;
    }

    .dashboard-container {
        flex-direction: column;
        gap: 40px;
    }

    .dashboard-controls {
        gap: 40px;
    }

    .user-title {
        font-size: 48px;
    }

    .window-container {
        display: none;
    }
}

@media (max-width: 414px) {
    .corner-wrapper {
        height: 150px;
        aspect-ratio: 177 / 140;
    }

}

/* ==========================
BOTTOM CHAMBER CSS 
=============================*/
.bottom-chamber {
    grid-column: 1;
    grid-row: 2;
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}

.chamber-container,
#loading-stage,
#reading-stage {
    position: absolute;
    /*i'm sorry*/
    top: 0;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    box-sizing: border-box;
}

.header-icon {
    width: 237.001px;
    height: 163.319px;
    aspect-ratio: 119/82;
}

.header-title h1 {
    text-align: center;
    font-family: "Jaini", system-ui;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-title h3 {
    text-align: center;
    font-family: "Jim Nightshade", cursive;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* =========================== */
/* TAROT READING SPREAD CONFIG */
/* ============================ */
#card-spread-container {
    position: relative;
    height: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1rem;
    overflow: visible;
}

#card-spread-container .tarot-card-container {
    position: absolute;
    bottom: 30px;
    /*origin of the arc pivit point below their base to form the arc*/
    transform-origin: 50% 270%;
    /* last number controls the width*/
    transition: transform 0.4s cubic-bezier(0.2, 0.8, 0.2, 1) z-index 0.2s ease;
}

/* fan arc rotation calculations for 15 cards (i need to find if there a DRY method for this T-T) */
#card-spread-container .tarot-card-container:nth-child(1) {
    --angle: rotate(-56deg);
    transform: var(--angle);
    z-index: 1;
}


#card-spread-container .tarot-card-container:nth-child(2) {
    --angle: rotate(-48deg);
    transform: var(--angle);
    z-index: 2;
}

#card-spread-container .tarot-card-container:nth-child(3) {
    --angle: rotate(-40deg);
    transform: var(--angle);
    z-index: 3;
}

#card-spread-container .tarot-card-container:nth-child(4) {
    --angle: rotate(-32deg);
    transform: var(--angle);
    z-index: 4;
}

#card-spread-container .tarot-card-container:nth-child(5) {
    --angle: rotate(-24deg);
    transform: var(--angle);
    z-index: 5;
}

#card-spread-container .tarot-card-container:nth-child(6) {
    --angle: rotate(-16deg);
    transform: var(--angle);
    z-index: 6;
}

#card-spread-container .tarot-card-container:nth-child(7) {
    --angle: rotate(-8deg);
    transform: var(--angle);
    z-index: 7;
}

#card-spread-container .tarot-card-container:nth-child(8) {
    --angle: rotate(0deg);
    transform: var(--angle);
    z-index: 8;
}

#card-spread-container .tarot-card-container:nth-child(9) {
    --angle: rotate(8deg);
    transform: var(--angle);
    z-index: 9;
}

#card-spread-container .tarot-card-container:nth-child(10) {
    --angle: rotate(16deg);
    transform: var(--angle);
    z-index: 10;
}

#card-spread-container .tarot-card-container:nth-child(11) {
    --angle: rotate(24deg);
    transform: var(--angle);
    z-index: 11;
}

#card-spread-container .tarot-card-container:nth-child(12) {
    --angle: rotate(32deg);
    transform: var(--angle);
    z-index: 12;
}

#card-spread-container .tarot-card-container:nth-child(13) {
    --angle: rotate(40deg);
    transform: var(--angle);
    z-index: 13;
}

#card-spread-container .tarot-card-container:nth-child(14) {
    --angle: rotate(48deg);
    transform: var(--angle);
    z-index: 14;
}

#card-spread-container .tarot-card-container:nth-child(15) {
    --angle: rotate(56deg);
    transform: var(--angle);
    z-index: 15;
}

#card-spread-container .tarot-card-container:hover {
    z-index: 50 !important;
    transform: var(--angle) translateY(-1px) scale(1.1) !important;
}




.card-indicators {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.indicator-slot {
    width: 70px;
    aspect-ratio: 31/52;
    border: 2px dashed #CF8394;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
}

.indicator-slot.marked {
    border-style: solid;
    border-color: #F4CFD5;
    box-shadow: 0 0 12px rgba(220, 193, 192, 0.6);
}

.slot-label {
    font-family: 'Jim Nightshade', cursive;
    color: #CF8394;
    font-size: 0.9rem;
}

.indicator-slot.marked .slot-label {
    display: none;
}

.slot-preview img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.chamber-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.question-text {
    font-family: 'Jim Nightshade', cursive;
    font-size: 1.8rem;
    color: #F4CFD5;
    text-align: center;
}

/* ==================================================
EXIT, SHUFFLE, SPIN-OUT ANIMATIONS CSS (HAVE MERCY)
    ==================================================*/

/* .card-exit-anim {
    animation: slideExit 0.8s cubic-bezier(0.5, 0, 0.2, 1) forwards;
}

@keyframes slideExit {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-120px) scale(0.5);
        opacity: 0;
    }
}

/* curlcle shuffle (my hands are freezing T-T */
/*#card-spread-container.shuffling {
    animation: circularShuffle 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes circularShuffle {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(0.85);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

/* ✨GRAND EXIT✨ */
/*.spin-out-exit {
    animation: spinOutwards 1.2s ease-in forwards;
}

@keyframes spinOutwards {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: rotate(720deg) scale(0);
        opacity: 0;
    }
} */


/* =================================================== */
/* SHUFFLE ANIMATIONS VERSION 2 */
/* =================================================== */

#card-spread-container.is-collapsed .tarot-card-container {
    transform: rotate(0deg) !important;
    transform: translateY(0);
    transition: transform 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}

#card-spread-container.is-shuffling:nth-child(even) {
    animation: riffleEven 5s ease-in-out infinite;
}

#card-spread-container.is-shuffling:nth-child(odd) {
    animation: riffleOdd 5s ease-in-out infinite;
}

@keyframes riffleEven {

    0%,
    100% {
        transform: rotate(0deg) translateX(0);
        z-index: 10;
    }

    50% {
        transform: rotate(0deg) translateX(-50px);
        z-index: 30;
    }
}

@keyframes riffleOdd {

    0%,
    100% {
        transform: rotate(0deg) translateX(0);
        z-index: 10;
    }

    50% {
        transform: rotate(0deg) translateX(50px);
        z-index: 30;
    }
}

#loading-stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 80vh;
}

.loading-cards-container {
    display: flex;
    gap: 2rem;
}

.loading-card {
    width: 120px;
    height: 190px;
}

.loading-bar-container {
    width: 300px;
    height: 12px;
    border: 2px solid #CF8394;
    border-radius: 10px;
    overflow: hidden;
    background: #111;
}

.loading-bar-fill {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);
    transition: width 3.5s linear;
}

.throbber-wrapper {
    width: 50px;
    height: 50px;
}

.throbber-spinner {
    width: 100%;
    height: 100%;
    animation: spinThrobber 2s linear infinite;
}

@keyframes spinThrobber {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ==========================
READING CHAMBER CSS
    =========================*/

#reading-stage {
    overflow-y: auto;
    justify-content: flex-start;
    padding-top: 4rem;
}

/* two cards */
.drawn-cards-display {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.drawn-card {
    width: 140px;
    border-radius: 10px;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}


.card-left {
    transform: rotate(-12deg);
}

.card-right {
    transform: rotate(12deg);
}


.card-left.reversed {
    transform: rotate(168deg);
}

.card-right.reversed {
    transform: rotate(192deg);
}

.reading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.reading-container h2 {
    text-align: center;
    font-family: 'Jaini', system-ui;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #CF8394 17.31%, #F4CFD5 51.92%, #CF8394 83.17%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#reading-subtitle {
    text-align: center;
    font-family: "Jim Nightshade";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#reading-text {
    text-align: center;
    font-family: "Jim Nightshade";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(180deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow-y: scroll;
}

.chamber-toast{
    position: absolute;
    top: 15vh;
    border: 3px solid transparent;
    background: 
        linear-gradient(#111111, #111111) padding-box,
        linear-gradient(270deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%) border-box;
    box-shadow: 0 0 20px rgba(242, 203, 209, 0.2);

    transform: translateY(20px);
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 1000;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: start;
    font-family: 'Jaini', system-ui;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.chamber-toast.show{
    transform: translate(0);
}

/* ====================================== */
/* SIDE INNER SANCTUM (WE GOT THIS maybe) */
/* ====================================== */
.sanctum-chamber {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.sanctum-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}

.desktop-carousel {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    /* 3D effect? You can decided against this later*/
    perspective: 1200px;
}

.sanctum-feed {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    /* transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1); */
}

.sanctum-entry {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    /* width: not a single clue O_O; */
    border-radius: 20px;
    border: 2px solid rgba(207, 131, 148, 0.3);
    
    /* opacity: 0.5;
    transform: scale(0.85); */
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
                opacity 0.5s ease,
                border-color 0.4s ease;

    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform, opacity;
}

/* hide inactive text */
.sanctum-entry .entry-right-col {
    display: none;
    opacity: 0;
    width: 0;
}

.sanctum-entry.active {
    opacity: 1;
    transform: scale(1);
    border: 3px solid transparent;

    background: 
        linear-gradient(rgba(17, 17, 17, 0.9), rgba(17, 17, 17, 0.9)) padding-box,
        linear-gradient(270deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%) border-box;


    padding: 2rem 3rem;
    box-shadow: 0 0 20px rgba(242, 203, 209, 0.2);
    z-index: 10;
    justify-content: center;

}

.sanctum-entry.active .entry-right-col{
    display: block;
    opacity: 1;
    width: 400px; /*text length*/
    animation: fadeInText 0.6s ease forwards;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.entry-left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.sanctum-date{
    text-align: center;
font-family: "Jaini", system-ui;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;

background: linear-gradient(180deg, #CF8394 30.95%, #F4CFD5 63.1%, #CF8394 95.24%);

-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;

}

.sanctum-cards-title {
    text-align: center;
font-family: "Jim Nightshade", cursive;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

background: linear-gradient(180deg, #CF8394 15.56%, #F4CFD5 48.89%, #CF8394 82.22%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

.reading-preview{
    color: #F4CFD5;
text-align: center;
font-family: "Jim Nightshade",cursive;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.view-reading-btn {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease 0.3s;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.sanctum-entry.active .view-reading-btn {
    opacity: 1;
    pointer-events: auto;
    display: flex;
    justify-content: center !important;
}

@media (max-width: 768px) {

    .sanctum-chamber {
        grid-column: 2;
        grid-row: 1;
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        padding: 2em;
        box-sizing: border-box;
    }

    #return-dash-btn {
        display: flex;
        justify-content: center;
    }

    .sanctum-layout {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 5rem;
        gap: 5rem;
    }

    .sanctum-preview {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .sanctum-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
    }

    .sanctum-content .user-title {
        text-align: left;
        font-size: 56px;
    }

    #sanctum-subtitle {
        text-align: left;
        margin-bottom: 2rem;
    }

    .sanctum-feed {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-right: 1rem;
    }

    .sanctum-entry {
        border-bottom: 2px solid rgba(207, 131, 148, 0.3);
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .sanctum-reading {
        display: flex;
        flex-direction: column;
    }

    .sanctum-date {
        text-align: center;
        font-family: "Jaini", system-ui;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        background: linear-gradient(180deg, #CF8394 30.95%, #F4CFD5 63.1%, #CF8394 95.24%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .sanctum-cards {
        text-align: center;
        font-family: "Jim Nightshade";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        background: linear-gradient(180deg, #CF8394 15.56%, #F4CFD5 48.89%, #CF8394 82.22%);

        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .reading-preview {
        color: #F4CFD5;
        text-align: center;
        font-family: "Jim Nightshade", cursive;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

#footer-container {
    width: 100vw;
    left: 0;
    bottom: 0;
    background: linear-gradient(270deg, #CF8394 0%, #F4CFD5 50%, #CF8394 100%);
    display: flex;
    justify-content: end;
    align-items: center;

    font-family: "Jaini", system-ui;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}